html, body {
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow: hidden;
  font-family: "Helvetica Nue", Helvetica, Arial, sans-serif;
  font-weight: 200; }

a {
  text-decoration: none !important; }

.navbar-brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.gridStyle {
  border: 1px solid #d4d4d4;
  width: 100%;
  height: 95vh;
  min-height: 95vh;
  max-height: 95vh; }

.ngTopPanel {
  line-height: 25px;
  margin-top: 34px; }

.ngCell {
  display: table-cell;
  height: auto !important;
  overflow: visible;
  position: static; }

.ngRow {
  display: table-row;
  height: auto !important;
  position: static; }

.ngCellText {
  height: auto !important;
  white-space: normal;
  overflow: visible; }

.ngGrid.unselectable {
  margin-top: 10px; }

span.glyphicon {
  font-size: 1.6em; }
